@{
    ViewBag.Title = "Admin";
}

<h2>Admin Pages</h2>

<div class="col-md-6">
    <h4>Order Management</h4>
    <div>
        @Html.ActionLink("POS Sales", "Index", "POSSaleManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
        @Html.ActionLink("Online Orders", "Index", "OrderManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
    </div>
</div>

<div class="col-md-6">
    <h4>Product Management</h4>
    <div>
        @Html.ActionLink("Product Categories", "Index", "ProductCategoryManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
        @Html.ActionLink("Product Inventory", "Index", "ProductManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
    </div>
</div>

<div class="col-md-6">
    <h4>Customer Management</h4>
    <div>
        @Html.ActionLink("Customers", "Index", "CustomerManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
        @Html.ActionLink("Layaways", "Index", "LayawayManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
    </div>
</div>

<div class="col-md-6">
    <h4>Supplier Management</h4>
    <div>
        @Html.ActionLink("Suppliers", "Index", "SupplierManager", null, new { @class = "list-group-item text-primary-force", @style = "font-weight: bold" })
    </div>
</div>
<div>
    <button class="btn btn-danger" style="margin: 10px; padding: 10px" onclick="ShowMessage('<h3>TEST 1</h3>')">Test 1</button>
</div>