@model BusinessManager.Core.ViewModels.BasketSummaryViewModel

@if (!User.IsInRole("POSAttendant") || (User.IsInRole("POSAttendant") && User.IsInRole("Client")))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="link-text-warning" href="@Url.Action("Index", "Basket")" title="Click to show items in your Basket"><span class="fa fa-shopping-cart">&nbsp;&nbsp;Basket</span></a></li>
        <li><a href="@Url.Action("Index", "Basket")">@Model.BasketCount items</a></li>
        <li><a href="@Url.Action("Index", "Basket")">@String.Format("{0:c}", Model.BasketTotal)</a></li>
    </ul>
}