@model IEnumerable<BusinessManager.Core.ViewModels.POSTransactionItemViewModel>

@{
    ViewBag.Title = "POS Transaction";
}

<h2><span class="fas fa-cash-register text-primary">&nbsp;&nbsp;</span>Point of Sale (POS)</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

    @{ int itemCount = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td><img style="height: 50px" class="img" src="~/Content/ProductImages/@item.Image" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @String.Format("{0:c}", item.Price)
            </td>
            <td>
                @String.Format("{0:c}", item.Price * item.Quantity)
            </td>
            <td>
                <a href="@Url.Action("RemoveFromPOSTransaction", "POSTransaction", new { Id = item.Id })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        ++itemCount;
    }
    <tr>
        @if (itemCount > 0)
        {
            <td colspan="4" style="text-align: right"><strong>Sale Total</strong></td>
            <td>@String.Format("{0:c}", (from p in Model select p.Price * p.Quantity).Sum())</td>
            <td><a href="@Url.Action("Checkout", "POSTransaction")">Checkout</a></td>
        }
        else
        {
            <td colspan="4" style="text-align: right"><strong>Transaction Total</strong></td>
            <td>@String.Format("{0:c}", (from p in Model select p.Price * p.Quantity).Sum())</td>
            <td><span class="text-muted">Checkout</span></td>
        }
    </tr>
</table>

<hr>
<div>
    @*<a href="javascript: history.go(-1)" class="btn btn-primary badge badge-pill">&#8592;</a><span>&nbsp;&nbsp;</span>*@
    @{
        string baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
        string prevURL = Request.UrlReferrer == null ? "" : Request.UrlReferrer.ToString();
        if (prevURL == baseUrl)
        {
            <a href="javascript: history.go(-1)">Back To Product List</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Home")">Back To Product List</a>
        }
    }
</div>