@model BusinessManager.Core.ViewModels.POSTransactionSummaryViewModel

@if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("POSAttendant")))
{
    <ul class="nav navbar-nav navbar-right">        
        <li><a class="link-text-warning" href="@Url.Action("Index", "POSTransaction")" title="Click to see items in current POS Transaction"><span class="fas fa-cash-register">&nbsp;&nbsp;POS Sale</span></a></li>
        <li><a href="@Url.Action("Index", "POSTransaction")">@Model.TransactionCount items</a></li>
        <li><a href="@Url.Action("Index", "POSTransaction")">@String.Format("{0:c}", Model.TransactionTotal)</a></li>
    </ul>
}