@model BusinessManager.Core.Models.Customer

@{
    ViewBag.Title = "Edit Customer";
}

@using (Html.BeginForm("Edit", "CustomerManager", FormMethod.Post, new { onsubmit = "return false", id = "customer-edit-form" }))
{
    @Html.AntiForgeryToken()

    <h2>Edit Customer</h2>
    <hr style="margin-top: 0; margin-bottom: 0" />
    <style>
        .product-lookup-popup {
            /*z-index: 3;*/
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
    <div style="display: flex">
        <div class="form-horizontal col-md-4">
            <div id="customer-info">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)

                @{
                    var labelStyle = "width: 35%; padding-right: 0";
                    var inputBoxStyle = "width: 100%; margin-left: 15px; margin-right: 0";
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding-top: 5px">
                        @Html.DisplayFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } }).ToString().Replace("-07:00", "")
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone2, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-3", @style = @labelStyle })
                    <div class="col-md-7" style="padding: 0">
                        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", @style = @inputBoxStyle } })
                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input onclick="saveCustomer(event)" id="save-customer-btn" type="submit" value="Save" class="btn btn-default" />
                        <input onclick="addLayaway(event)" id="save-customer-btn" type="button" value="Add Layaway" class="btn btn-default" />
                        <p style="margin: 10px">@Html.ActionLink("Back to Customer List", "Index")</p>
                    </div>
                </div>
            </div>

            <div id="product-lookup" class="product-lookup-popup" style="display: none">
                @Html.Partial("ProductLookup", Model.ProductList)
                <button onclick="closeProductLookup(event)" class="btn btn-default" style="margin-top: 4px; margin-left: 5px; margin-top: 3px">
                    Close List
                </button>
                <p style="margin: 10px">@Html.ActionLink("Back to Customer List", "Index")</p>
            </div>
        </div>
        <div id="layaways-container" class="col-md-8 bg-success" style="padding: 0; margin: 0">
            @{
                var itemCount = 0;
                var layawayCount = Model.Layaways.Count;
                foreach (var layaway in Model.Layaways)
                {
                    itemCount += layaway.LayawayItems.Count;
                }
                var fullName = Model.FirstName + ' ' + Model.LastName;
                var companyName = Model.CompanyName == "" ? "" : " (" + Model.CompanyName + ")";
                var combinedName = fullName + companyName;
            }
            <span id="curr-layaway-id" style="display: none"></span>
            <div style="margin: 0px 0px 5px 25px">
                <h4>Customer Layaways</h4>
                <strong><span class="text-primary" style="float: right; margin:3px 30px 3px 3px">@combinedName </span></strong>
                <span class="text-primary" style="float: right; margin:3px 10px 3px 3px">Customer: </span>
                <span style="margin:3px">Layaways: @Model.Layaways.Count</span>
                <span style="margin:3px">Total Items: @itemCount</span>
            </div>
            @Html.Partial("Layaways", Model.Layaways)
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        document.body.onpageshow = (event) => {
            var currLayawayPgIndex = getCookie("CurrLayawayPgIndex");
            if (currLayawayPgIndex) {
                var table = document.getElementById("layaways-table");
                var rows = table.rows;
                for (let i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    var pgIndex = row.querySelector("span[name='layaways-row-number']").innerHTML;
                    if (pgIndex === currLayawayPgIndex) {
                        row.style.display = "table-row"
                    }
                    else {
                        row.style.display = "none"
                    }
                }
            }
            expireCookie("CurrLayawayPgIndex");
        };


        document.onkeypress = function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
            }
        };


        setLayawaysDatePickers(event);


        function saveCustomer(event) {
            document.getElementById('customer-edit-form').submit();
        }

        function setLayawaysDatePickers(event) {
            var container = document.getElementById("layaways-container");
            var table = container.querySelector("table");
            var rows = table.getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                var row = rows[i];

                var agreementDateEl = row.querySelector("[id='layaway_AgreementDate']");
                var agreementDate = agreementDateEl.getAttribute("value");
                var date1 = new Date(agreementDate);
                var newAgreementDate = date1.getFullYear() + "-" + (date1.getMonth() + 1).toString().padStart(2, '0') + "-" + date1.getDate().toString().padStart(2, '0');
                agreementDateEl.value = newAgreementDate; 
                
                var dueDateEl = row.querySelector("[id='layaway_DueDate']");
                var dueDate = dueDateEl.getAttribute("value");
                var date2 = new Date(dueDate);
                var newDueDate = date2.getFullYear() + "-" + (date2.getMonth() + 1).toString().padStart(2, '0') + "-" + date2.getDate().toString().padStart(2, '0');
                dueDateEl.value = newDueDate; 
            }
        }


        function addLayaway(event) {
            var customerId = document.getElementById("Id").value;

            //upload data
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseText = this.responseText;
                    var responseObject = JSON.parse(responseText);
                    if (responseObject.Successful === true) {
                        location.reload();
                    }
                    else if (responseObject.Message) {
                        ShowMessage(responseObject.Message, "<span class='text-warning'>Server Error</span>");
                    }
                }
            };
            xhttp.open("GET", "/CustomerManager/AddLayaway/?customerId=" + customerId, true);
            xhttp.send();
        }


        function deleteLayaway(event) {
            var layawayId = (event.target.parentNode).parentNode.querySelector("[name='layaway-id']").innerHTML;

            //upload data
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseText = this.responseText;
                    var responseObject = JSON.parse(responseText);
                    if (responseObject.Successful === true) {
                        location.reload();
                    }
                    else if (responseObject.Message) {
                        ShowMessage(responseObject.Message, "<span class='text-warning'>Server Error</span>");
                    }
                }
            };
            xhttp.open("GET", "/CustomerManager/DeleteLayaway/?Id=" + layawayId, true);
            xhttp.send();
        }


        function saveLayaway(event) {
            // get data form UI
            var parent1 = event.target.parentNode;
            var parent2 = parent1.parentNode;
            var layaway = {
                Id: parent2.querySelector("[name='layaway-id']").innerHTML,
                CustomerId: parent2.querySelector("[name='layaway-customer-id']").innerHTML,
                AgreementDate: parent2.querySelector("[id='layaway_AgreementDate']").value,
                DueDate: parent2.querySelector("[id='layaway_DueDate']").value,
                DownPayment: parent2.querySelector("[id='layaway_DownPayment']").value,
                ServiceFee: parent2.querySelector("[id='layaway_ServiceFee']").value,
                CancellationFee: parent2.querySelector("[id='layaway_CancellationFee']").value,
                OrderStatus: parent2.querySelector("[id='layaway_OrderStatus']").value
            };
            //upload data
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseText = this.responseText;
                    var responseObject = JSON.parse(responseText);
                    if (responseObject.Successful === true) {
                        event.target.style.display = "none";
                    }
                    else if (responseObject.Message) {
                        ShowMessage(responseObject.Message, "<span class='text-warning'>Server Error</span>");
                    }
                }
            };
            xhttp.open("GET", "/CustomerManager/UpdateLayaway/?data=" + JSON.stringify(layaway), true);
            xhttp.send();
        }


        function deleteLayawayItem(event, itemId, rowIndex, image, productName) {
            let location = window.location;
            let protocol = location.protocol;
            let host = location.host;
            let baseUrl = protocol + "//" + host;
            let imageUrl = baseUrl + "//Content//ProductImages//" + image;
            let mesgHtml =
                "<div>" +
                    "<div " +
                            "style='display: inline-block; " +
                            "width: 200px; " +
                            "height: 250px; text-align: center; margin-top: auto; margin-bottom: auto'>" +
                        "<img " +
                                "class='img-thumbnail'" +
                                "style='margin: auto; " +
                                "height: 100%;" +
                                "padding: 3px; " +
                                "border-width: 1px;" +
                                "border-radius: 50%;" +
                                "border-color: #f1c2c1'" +
                                "src='" + imageUrl + "'" +
                                "alt='Image' " +
                                "/>" +
                    "</div>" +
                    "<div style='display: inline-block; margin-left: 10px'>" +
                        "<p>Click Delete to remove</p>" +
                        "<p class='text-danger'><strong>" + productName + "</strong></p>" +
                        "<P>from Layaway.</P>" +
                    "</div>" +
                "</div>";

            let titleHtml = "<span class='text-danger'>Please confirm delete action...</span>";
            ShowMessage(mesgHtml, titleHtml, "delete, cancel").then(
                function (response) {
                    if (response === "Delete") {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function () {
                            if (this.readyState === 4 && this.status === 200) {
                                var responseText = this.responseText;
                                var responseObject = JSON.parse(responseText);
                                if (responseObject.Successful === true) {
                                    var parentRow = document.getElementById(rowIndex);
                                    var deletedItemIndex = parseInt(parentRow.querySelector("[name='layawayitems-row-number']").innerHTML);
                                    var itemsTable = parentRow.parentNode;
                                    itemsTable.removeChild(parentRow);
                                    if (itemsTable.childElementCount === 0) {
                                        //ShowMessage("<p class='text-primary'>Item deleted.</p>").then(function (result) { location.reload(); }, function (error) { });
                                        var currLayawayPgIndex = getCurrLayawayPgIndex();
                                        if (currLayawayPgIndex) {
                                            setCookie("CurrLayawayPgIndex", currLayawayPgIndex, 1);
                                        }
                                        location.reload();
                                    }
                                    else {
                                        var rows = itemsTable.rows;
                                        for (let i = 0; i < rows.length; i++) {
                                            var row = rows[i];

                                            var rowIndexSpan = row.querySelector("span[name='layawayitems-row-number']");
                                            var itemIndex = parseInt(rowIndexSpan.innerHTML);
                                            if (deletedItemIndex < itemIndex) {
                                                rowIndexSpan.innerHTML = itemIndex - 1;
                                            }

                                            var rowCountSpan = row.querySelector("span[name='layawayitems-row-count']");
                                            var rowCount = parseInt(rowCountSpan.innerHTML);
                                            rowCountSpan.innerHTML = rowCount - 1;
                                        }
                                        //ShowMessage("<p class='text-primary'>Item deleted.</p>")
                                    }
                                }
                                else if (responseObject.Message) {
                                    ShowMessage(responseObject.Message);
                                }
                            }
                        };
                        xhttp.open("GET", "/CustomerManager/DeleteLayawayItem/?id=" + itemId, true);
                        xhttp.send();
                    }
                },
                function (error) {
                    alert("Something went wrong!");
                }
            );
        }


        function showPic(event, image) {
            var location = window.location;
            var protocol = location.protocol;
            var host = location.host;
            var baseUrl = protocol + "//" + host
            var imageUrl = baseUrl + "//Content//ProductImages//" + image;
            var html = "<img " +
                "class='img-rounded' " +
                "src='" + imageUrl + "' " +
                "style='height: 200px' " +
                "alt='Image' " +
                " />"
            ShowMessage(html);
        }


        function openProductLookup(event, layawayId) {
            document.getElementById("curr-layaway-id").innerHtml = layawayId;

            document.getElementById("customer-info").style.opacity = 0;
            document.getElementById("product-lookup").style.display = "block";
        }


        function closeProductLookup(event) {
            document.getElementById("customer-info").style.opacity = 1;
            document.getElementById("product-lookup").style.display = "none";
        }


        function copyProductData(event, productId, productTableRow = null, currLayawayId = "" ) {
            var productCopyFoundInLayaway = false;

            var currLayawayId = currLayawayId || document.getElementById("curr-layaway-id").innerHtml;
            
            if (!productTableRow) {
                var tableRow = (event.target.parentNode).parentNode;
            }
            else {
                tableRow = productTableRow;
            }

            var layawayItemId = "";
            var layawaysTable = document.getElementById("layaways-container").querySelector("table");

            // loop over Layaways
            for (let layawaysRow of layawaysTable.rows) {
                var layawayIdElement = layawaysRow.querySelector("[name='layaway-id']");
                var layawayId = layawayIdElement.innerHTML;
                if (currLayawayId === layawayId) {
                    var layawayItemsTable = layawaysRow.querySelector("table");
                    // loop over LayawayItems
                    for (let layawayItemsRow of layawayItemsTable.rows) {
                        var layawayItemIdElement = layawayItemsRow.querySelector("[name='layawayitem-item-id']");
                        layawayItemId = layawayItemIdElement.innerHTML;

                        var layawayProductIdElement = layawayItemsRow.querySelector("[name='layawayitem-product-id']");
                        var layawayProductId = layawayProductIdElement.innerHTML;

                        var layawayItemQuantityElement = layawayItemsRow.querySelector("[name='layawayitem-quantity']");
                        var layawayItemQuantity = layawayItemQuantityElement.innerHTML;
                        ++layawayItemQuantity;

                        if (productId === layawayProductId) {
                            productCopyFoundInLayaway = true;
                            break;
                        }
                    }
                    break;
                }
            }

            if (productCopyFoundInLayaway) {
                //upload (update) data for Quantity field of Product record
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        var responseText = this.responseText;
                        var responseObject = JSON.parse(responseText);
                        if (responseObject.Successful === true) {
                            //ShowMessage("<p class='text-primary'>Item updated.</p>").then(function (result) { location.reload(); }, function (error) { });
                            var currLayawayPgIndex = getCurrLayawayPgIndex();
                            if (currLayawayPgIndex) {
                                setCookie("CurrLayawayPgIndex", currLayawayPgIndex, 1);
                            }
                            location.reload();
                        }
                        else if (responseObject.Message) {
                            ShowMessage(responseObject.Message, "<span class='text-warning'>Server Error</span>");
                        }
                        else {
                            ShowMessage("Oops! Something went wrong.", "<span class='text-warning'>Server Error</span>");
                        }
                    }
                };
                xhttp.open("GET", "/CustomerManager/UpdateLayawayItemQuantity/?Id=" + layawayItemId + "&quantity=" + layawayItemQuantity, true);
                xhttp.send();
            }
            else {
                // get product data from the Product Search List UI
                var layawayItem = {
                    Id: "",
                    LayawayId: layawayId,
                    ProductId: tableRow.querySelector("span[name='Id']").innerText,
                    ProductName: tableRow.querySelector("span[name='Name']").innerText,
                    ProductDescription: tableRow.querySelector("span[name='Description']").innerText,
                    Price: tableRow.querySelector("span[name='Price']").innerText,
                    Quantity: 1,
                    Image: tableRow.querySelector("span[name='Image']").innerText
                }
                //upload (reate) data for entire Product record
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        var responseText = this.responseText;
                        var responseObject = JSON.parse(responseText);
                        if (responseObject.Successful === true) {
                            //ShowMessage("<p class='text-primary'>Item added.</p>").then(function (result) { location.reload(); }, function (error) { });
                            var currLayawayPgIndex = getCurrLayawayPgIndex();
                            if (currLayawayPgIndex) {
                                setCookie("CurrLayawayPgIndex", currLayawayPgIndex, 1);
                            }
                            location.reload();
                        }
                        else if (responseObject.Message) {
                            ShowMessage(responseObject.Message);
                        }
                    }
                };
                xhttp.open("GET", "/CustomerManager/AddLayawayItem/?data=" + JSON.stringify(layawayItem), true);
                xhttp.send();
            }

            // clean up
            document.getElementById("curr-layaway-id").innerHtml = "";
        }

        
        function getCurrLayawayPgIndex() {
            var layawaysTable = document.getElementById("layaways-table");
            var tableRows = layawaysTable.rows;
            for (let i = 0; i < tableRows.length; i++) {
                var row = tableRows[i];
                if (row.style.display !== "none") {
                    var layawayPgIndex = row.querySelector("span[name='layaways-row-number']").innerHTML;
                    if (layawayPgIndex) {
                        layawayPgIndex = parseInt(layawayPgIndex);
                        return layawayPgIndex;
                    }
                }
            }
            return null;
        }


        function showFirstLayaway(event) {
            var parent1 = event.target.parentNode;
            var parent2 = parent1.parentNode;
            var parent3 = parent2.parentNode;
            var parent4 = parent3.parentNode;

            var currRow = parent4.parentNode;
            var tableSection = currRow.parentNode;
            var table = tableSection.parentNode;

            var rows = table.rows;
            for (let i = 0; i < rows.length; i++) {
                var row = rows[i];
                var rowIndex = row.querySelector("[name='layaways-row-number']").innerText;
                if (parseInt(rowIndex) !== 1) {
                    // hide row
                    row.style.display = "none";
                }
                else {
                    // show row
                    row.style.display = "table-row";
                }
            }
        }


        function showPrevLayaway(event) {
            var parent1 = event.target.parentNode;
            var parent2 = parent1.parentNode;
            var parent3 = parent2.parentNode;
            var parent4 = parent3.parentNode;

            var currRow = parent4.parentNode;
            var currRowIndex = parseInt(currRow.querySelector("[name='layaways-row-number']").innerText);
            if (currRowIndex === 1) return;

            var tableSection = currRow.parentNode;
            var table = tableSection.parentNode;

            var rows = table.rows;
            for (let i = 0; i < rows.length; i++) {
                var row = rows[i];
                var rowIndex = parseInt(row.querySelector("[name='layaways-row-number']").innerText);
                if (rowIndex !== currRowIndex - 1) {
                    // hide row
                    row.style.display = "none";
                }
                else {
                    // show row
                    row.style.display = "table-row";
                }
            }
        }


        function showNextLayaway(event) {
            var parent1 = event.target.parentNode;
            var parent2 = parent1.parentNode;
            var parent3 = parent2.parentNode;
            var parent4 = parent3.parentNode;

            var currRow = parent4.parentNode;
            var currRowIndex = parseInt(currRow.querySelector("[name='layaways-row-number']").innerText);

            var tableSection = currRow.parentNode;
            var table = tableSection.parentNode;

            var rows = table.rows;                        
            if (currRowIndex === rows.length) return;

            for (let i = 0; i < rows.length; i++) {
                var row = rows[i];
                var rowIndex = parseInt(row.querySelector("[name='layaways-row-number']").innerText);
                if (rowIndex !== currRowIndex + 1) {
                    // hide row
                    row.style.display = "none";
                }
                else {
                    // show row
                    row.style.display = "table-row";
                }
            }
        }


        function showLastLayaway(event) {
            var parent1 = event.target.parentNode;
            var parent2 = parent1.parentNode;
            var parent3 = parent2.parentNode;
            var parent4 = parent3.parentNode;

            var currRow = parent4.parentNode;
            var tableSection = currRow.parentNode;
            var table = tableSection.parentNode;

            var rows = table.rows;
            for (let i = 0; i < rows.length; i++) {
                var row = rows[i];
                var rowIndex = row.querySelector("[name='layaways-row-number']").innerText;
                if (parseInt(rowIndex) !== rows.length) {
                    // hide row
                    row.style.display = "none";
                }
                else {
                    // show row
                    row.style.display = "table-row";
                }
            }
        }


        function toggleBarcodeInput(event) {
            var container = event.target.parentNode.querySelector("[name='upc-input-container']")
            if (container.style.display == "none") {
                container.style.display = "block";
                event.target.parentNode.querySelector("[name='layaway-scan-upc']").classList.add("active");
                container.querySelector("[name='upc-input']").focus();
            }
            else {
                container.style.display = "none";
                event.target.parentNode.querySelector("[name='layaway-scan-upc']").classList.remove("active");
            }
        }


        function getProductByUPC(event, layawayId) {
            if (event.keyCode !== 13) return;
            document.getElementById("curr-layaway-id").innerHTML = layawayId;
            var searchUPC = event.target.value;
            event.target.value = "";

            var table = document.getElementById("product-lookup-table");
            
            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
                var row = rows[i];
                var upc = row.querySelector("span[name='UPC']").innerHTML;
                if (upc === searchUPC) {
                    // add product to current Layaway                    
                    var productId = row.querySelector("span[name='Id']").innerHTML;
                    copyProductData(event, productId, row, layawayId);
                    break;
                }
            }
            ShowMessage("<h3 class='text-primary'>Product not found.</h3>")
        }


        function showLayawayItemSaveBtn(event) {
            var btn = event.target.parentNode.querySelector("input[name='layaway-item-save']");
            btn.style.display = "inline";
        }


        function updateLayawayItemPrice(event, itemId) {
            var parent = event.target.parentNode;
            var priceInput = parent.querySelector("input[type='text']");
            var price = priceInput.value;
            if (isNaN(price) || price === "" || parseFloat(price) < 0) {
                ShowMessage("The price must be a number greater than zero.");
                return;
            }
            //upload data
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseText = this.responseText;
                    var responseObject = JSON.parse(responseText);
                    if (responseObject.Successful === true) {
                        priceInput.value = parseFloat(price).toFixed(2);
                        event.target.style.display = "none";
                    }
                    else if (responseObject.Message) {
                        ShowMessage(responseObject.Message, "<span class='text-warning'>Server Error</span>");
                    }
                }
            };
            xhttp.open("GET", "/CustomerManager/UpdateLayawayItemPrice/?Id=" + itemId + "&price=" + price, true);
            xhttp.send();
        }


        function showLayawaySaveBtn(event) {
            var btn = (event.target.parentNode).parentNode.querySelector("input[name='layaway-save']");
            btn.style.display = "inline";
        }


        function updateLayaway(event, itemId) {
            var parent = event.target.parentNode;
            var priceInput = parent.querySelector("input[type='text']");
            var price = priceInput.value;
            if (isNaN(price) || price < 0) {
                ShowMessage("The price must be a number greater than zero.");
                return;
            }
            //upload data
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseText = this.responseText;
                    var responseObject = JSON.parse(responseText);
                    if (responseObject.Successful === true) {
                        priceInput.value = parseFloat(price).toFixed(2);
                        event.target.style.display = "none";
                    }
                    else if (responseObject.Message) {
                        ShowMessage(responseObject.Message, "<span class='text-warning'>Server Error</span>");
                    }
                }
            };
            xhttp.open("GET", "/CustomerManager/UpdateLayawayItemPrice/?Id=" + itemId + "&price=" + price, true);
            xhttp.send();
        }
    </script>
}