@model IEnumerable<BusinessManager.Core.Models.Layaway>

@{
    ViewBag.Title = "Layaways";
    var layawayCount = 0;
}

<table class="table">
    @foreach (var layaway in Model)
    {
        <tr>
            <td>
                <div class="col-md-12" style="display: flex">
                    @{
                        var colorLightBlue = "#f6fbfd";

                        // Layaway Items table styling strings
                        var inputStyle = "display: inline; width: 45%; max-width: 100%";
                        var inputGroupStyle = "margin: 6px";
                        var dateStyle = "padding: 5px; line-height: 100%; display: inline; max-width: 45%";
                    }
                    <style>
                        .layaway-label {
                            width: 30%
                        }

                        .fixed-header tbody {
                            display: block;
                            overflow: auto;
                            height: 550px;
                            width: 100%;
                        }

                        .fixed_header thead tr {
                            display: block;
                        }
                    </style>
                    <div class="col-md-6" style="flex: 1; padding: 1em; background-color: @colorLightBlue">
                        <form id="layaway-form">
                            @* Layaway.Id *@
                            <div name="layaway-id" style="display: none">@layaway.Id</div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_CreatedAt" style="width: 45%">@Html.DisplayNameFor(model => model.CreatedAt)</label>
                                @Html.DisplayFor(model => layaway.CreatedAt, new { htmlAttributes = new { @class = "form-control" } }).ToString().Replace("-07:00", "")
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_AgreementDate" style="width: 45%">@Html.DisplayNameFor(model => model.AgreementDate)</label>
                                @Html.EditorFor(model => layaway.AgreementDate, new { htmlAttributes = new { @class = "form-control", @style = @dateStyle, @type = "date" } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_DueDate" style="width: 45%">@Html.DisplayNameFor(model => model.DueDate)</label>
                                @Html.EditorFor(model => layaway.DueDate, new { htmlAttributes = new { @class = "form-control", @style = @dateStyle, @type = "date" } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_DownPayment" style="width: 45%">@Html.DisplayNameFor(model => model.DownPayment)</label>
                                @Html.EditorFor(model => layaway.DownPayment, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_ServiceFee" style="width: 45%">@Html.DisplayNameFor(model => model.ServiceFee)</label>
                                @Html.EditorFor(model => layaway.ServiceFee, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_CancellationFee" style="width: 45%">@Html.DisplayNameFor(model => model.CancellationFee)</label>
                                @Html.EditorFor(model => layaway.CancellationFee, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_OrderStatus" style="width: 45%">@Html.DisplayNameFor(model => model.OrderStatus)</label>
                                @Html.EditorFor(model => layaway.OrderStatus, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <input type="button" value="Save" class="btn btn-sm btn-default" />
                                <input type="button" value="Scan Barcode" class="btn btn-sm btn-default" />
                                <input type="button" value="Add Item" class="btn btn-sm btn-default" onclick="openProductLookup(event, '@layaway.Id')" />
                                <input type="button" value="Delete" class="btn btn-sm btn-default btn-danger-text" />
                            </div>
                        </form>
                    </div>
                    @{
                        var subItemInputStyle1 = "display: inline; max-width: 95%; margin: 0 0 5px 0; background-color: " + colorLightBlue + "; border: none";
                        var subItemInputStyle2 = "display: inline; max-width: 95%; margin: 0 0 5px 0";
                    }
                    <div class="col-md-6 fixed-header" style="flex: 1; background-color: @colorLightBlue; padding-left: 0">
                        <h4>Layaway Items</h4>
                        <table class="table">
                            @{
                                var itemCount = 0;
                                var rowElementId = "";
                                ++layawayCount;
                            }
                            @foreach (var item in layaway.LayawayItems)
                            {
                                ++itemCount;
                                rowElementId = "row-" + layawayCount + "-" + itemCount;
                                <tr id=@rowElementId style="margin-top: 20px">
                                    <td style="position: relative">
                                        <div>
                                            <img onclick="showPic(event, '@item.Image')"
                                                 class="img-thumbnail"
                                                 style="width: 100px; cursor: pointer"
                                                 src="~/Content/ProductImages/@item.Image"
                                                 alt="Image" />
                                        </div>
                                        @* LawayItem delete button here *@
                                        <input id="layaway-item-delete"
                                               type="button"
                                               value="Delete"
                                               style="float: left; margin: 5px"
                                               class="btn btn-sm btn-default btn-danger-text"
                                               onclick="deleteLayawayItem(event, '@item.Id', '@rowElementId', '@item.Image', '@item.ProductName')" />
                                    </td>
                                    <td>
                                        <div style="padding-top: 7px">

                                            @* LayawayItem.Id *@
                                            <div name="layawayitem-item-id" style="display: none">@item.Id</div>
                                            @* LayawayItem.ProductId *@
                                            <div name="layawayitem-product-id" style="display: none">@item.ProductId</div>
                                            @* LayawayItem.Quantity *@
                                            <div name="layawayitem-quantity" style="display: none">@item.Quantity</div>

                                            <strong>
                                                @Html.DisplayFor(m => item.ProductName, new
                                                {
                                                                                                htmlAttributes = new
                                                    {
                                                                                                                        @class = "form-control",
                                                                                                                        @style = @subItemInputStyle1,
                                                                                                                        @readonly = "true"
                                                                                                                    }
                                                })
                                            </strong><br />
                                            @Html.DisplayFor(m => item.ProductDescription, new { htmlAttributes = new { @class = "form-control", @style = @subItemInputStyle2 } })
                                        </div>
                                        <div style="padding-top: 7px; width: 50%">
                                            <label class="control-label layaway-label" style="display: inline; margin-right: 10px">Quantity:</label>
                                            <p class="text-primary">
                                                @Html.DisplayFor(m => item.Quantity, new { htmlAttributes = new { @class = "form-control", @style = @subItemInputStyle2 } })
                                            </p>
                                        </div>
                                        <div style="margin-bottom: 5px; width: 50%">
                                            @Html.LabelFor(m => item.Price, htmlAttributes: new { @class = "control-label layaway-label",
                                                                                                    @style = "display: inline; margin-right: 10px; margin-top: 10px" })

                                            @Html.EditorFor(m => item.Price, new { htmlAttributes = new { @class = "form-control",
                                                                                                            @style = @subItemInputStyle2,
                                                                                                            @onkeyup = "showSaveBtn(event)",
                                                                                                            @onchange = "showSaveBtn(event)"
                                                                                                        } })

                                            @Html.ValidationMessageFor(m => item.Price, "", new { @class = "text-danger" })
                                            <input name="layaway-item-save"
                                                   type="button"
                                                   value="Save"
                                                   style="margin: 0; display: none"
                                                   class="btn btn-sm btn-default btn-success-text"
                                                   onclick="updateLayawayItemPrice(event, '@item.Id')" />
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>