@model IEnumerable<BusinessManager.Core.Models.Layaway>

@{
    ViewBag.Title = "Layaways";
}
<table class="table">

    @foreach (var layaway in Model)
    {
        <tr>
            <td>
                <div class="col-md-12" style="display: flex">
                    <div class="col-md-6" style="flex: 1; padding: 1em; background-color: #f6fbfd">
                        <style>
                            .layaway-label {
                                width: 30%
                            }

                            .fixed-header tbody {
                                display: block;
                                overflow: auto;
                                height: 400px;
                                width: 100%;
                            }

                            .fixed_header thead tr {
                                display: block;
                            }
                        </style>
                        @{
                            var inputStyle = "display: inline; width: 65%; max-width: 100%";
                            var inputGroupStyle = "margin: 6px";
                        }
                        <form id="layaway-form">
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_CreatedAt">@Html.DisplayNameFor(model => model.CreatedAt)</label>
                                @Html.DisplayFor(model => layaway.CreatedAt, new { htmlAttributes = new { @class = "form-control" } }).ToString().Replace("-07:00", "")
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_CustomerId">@Html.DisplayNameFor(model => model.CustomerId)</label>
                                @Html.EditorFor(model => layaway.CustomerId, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_AgreementDate">@Html.DisplayNameFor(model => model.AgreementDate)</label>
                                @Html.EditorFor(model => layaway.AgreementDate, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_DueDate">@Html.DisplayNameFor(model => model.DueDate)</label>
                                @Html.EditorFor(model => layaway.DueDate, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_DownPayment">@Html.DisplayNameFor(model => model.DownPayment)</label>
                                @Html.EditorFor(model => layaway.DownPayment, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_ServiceFee">@Html.DisplayNameFor(model => model.ServiceFee)</label>
                                @Html.EditorFor(model => layaway.ServiceFee, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_CancellationFee">@Html.DisplayNameFor(model => model.CancellationFee)</label>
                                @Html.EditorFor(model => layaway.CancellationFee, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                <label class="control-label layaway-label" for="layaway_OrderStatus">@Html.DisplayNameFor(model => model.OrderStatus)</label>
                                @Html.EditorFor(model => layaway.OrderStatus, new { htmlAttributes = new { @class = "form-control", @style = @inputStyle } })
                            </div>
                            <div style="@inputGroupStyle">
                                @Html.ActionLink("Save", "Edit", new { id = layaway.Id }) |
                                @Html.ActionLink("Add Item", "Edit", new { id = layaway.Id }) |
                                @Html.ActionLink("Scan Item", "Edit", new { id = layaway.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = layaway.Id })
                            </div>
                        </form>
                    </div>
                    @{
                        var subItemInputStyle1 = "display: inline; max-width: 95%; margin: 0 0 5px 0; background-color: #f6fbfd; border: none";
                        var subItemInputStyle2 = "display: inline; max-width: 25%; margin-right: 15px";
                    }
                    <div class="col-md-6 fixed-header" style="flex: 1; background-color: #f6fbfd">
                        <h4>Layaway Items</h4>
                        <table class="table">
                            @foreach (var item in layaway.LayawayItems)
                            {
                                <tr style="margin-top: 20px">
                                    <td>
                                        <a href="@Url.Action("Edit", "ProductManager", new { id = item.Id })">
                                            <img class="img-thumbnail" style="width: 100px" src="~/Content/ProductImages/@item.Image" alt="Image" />
                                        </a>
                                    </td>
                                    <td>
                                        <div style="padding-top: 7px">
                                            @Html.EditorFor(m => item.ProductName, new { htmlAttributes = new { @class = "form-control", @style = @subItemInputStyle1, @readonly = "true" } })
                                        </div>
                                        <div style="margin-bottom: 5px">
                                            <span style="width: 50%">
                                                <label class="control-label layaway-label" style="display: inline; margin-right: 10px">Quantity</label>
                                                @Html.EditorFor(m => item.Quantity, new { htmlAttributes = new { @class = "form-control", @style = @subItemInputStyle2 } })
                                            </span>
                                            <span style="width: 50%">
                                                <label class="control-label layaway-label" style="display: inline; margin-right: 10px">Price</label>
                                                @Html.EditorFor(m => item.Price, new { htmlAttributes = new { @class = "form-control", @style = @subItemInputStyle2 } })
                                            </span>
                                        </div>
                                        <div>
                                            @Html.ActionLink("Delete", "Delete", new { id = layaway.Id })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>