@model IEnumerable<BusinessManager.Core.Models.Payment>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    var paymentCount = Model.Count();
    var paymentIndex = 0;
    var rowElementId = "";
    string rowClass = "";

    <h4 style="margin-left: 5px">Invoice Payments</h4>
    <table id="payments-table-@ViewBag.CurrReceivableSourceId" class="table" style="background-color: @ViewBag.ItemDetailBackgroundColor"> @* #fffcf0 = yellow 3 *@
        @foreach (var payment in Model)
        {
            ++paymentIndex;
            rowElementId = "row-" + ViewBag.ReceivableSourceIndex + "-" + paymentIndex;
            rowClass = paymentIndex == 1 ? "col-md-6" : "col-md-6 hidden";
            <tr id=@rowElementId class='@(paymentIndex == 1 ? "col-md-6" : "col-md-6 hidden")' style="width: 100%">
                <td class="col-md-8">
                    <div id="payment-record-form" class="form-group">
                        <div class="form-group form-group-payment" style="margin-bottom: 5px">
                            <p class="edit-payment-label" style="margin-left: 4px" onclick="focusMatchingInput('PaymentDate')">Payment Date</p>
                            <div>
                                <input id="PaymentDate"
                                       name="PaymentDate"
                                       type="date"
                                       value="@payment.PaymentDate.ToString("yyyy'-'MM'-'dd")"
                                       class="form-control input-sm date-input"
                                       style="margin-left: 2px"
                                       onchange="showPaymentSaveBtn(event)" />
                            </div>
                        </div>

                        <div class="form-group form-group-payment">
                            <p class="edit-payment-label" onclick="focusMatchingInput('Amount')">Amount</p>
                            <div>
                                <input id="Amount"
                                       name="Amount"
                                       type="text"
                                       value="@payment.Amount"
                                       class="form-control input-sm edit-payment-input"
                                       onkeyup="showPaymentSaveBtn(event)"
                                       onchange="showPaymentSaveBtn(event)" />
                            </div>
                        </div>

                        <div id="payment-mode-group" class="form-group" style="margin-left: -30px">
                            <div class="hidden">
                                <input name="PaymentMode" readonly type="text" value="@payment.PaymentMode" class="form-control input-sm edit-payment-input" />
                            </div>
                            @{
                                bool cashChecked = @payment.PaymentMode == "cash" ? true : false;
                                bool creditCardChecked = @payment.PaymentMode == "credit card" ? true : false;
                                bool checkChecked = @payment.PaymentMode == "check" ? true : false;
                            }
                            <div style="margin-top: 0">
                                <div>
                                    <p class="edit-payment-label" style="margin-left: 32px; margin-top: 5px">Payment Mode</p>
                                </div>
                                <div class="border border-gray" style="width: 70%; margin-left: 40px; padding: 2px 0 10px 0">
                                    <label class="radio" style="padding-left: 40px">
                                        <input type="radio"
                                               name="optradio-@rowElementId"
                                               title="cash"
                                               @(cashChecked ? "checked" : "")
                                               onclick="setPaymentMode(event)">
                                        Cash
                                    </label>
                                    <label class="radio" style="padding-left: 40px">
                                        <input type="radio"
                                               name="optradio-@rowElementId"
                                               title="credit card"
                                               @(creditCardChecked ? "checked" : "")
                                               onclick="setPaymentMode(event)">
                                        Credit/Debit Card
                                    </label>
                                    <label class="radio" style="padding-left: 40px">
                                        <input type="radio"
                                               name="optradio-@rowElementId"
                                               title="check"
                                               @(checkChecked ? "checked" : "")
                                               onclick="setPaymentMode(event)">
                                        Check
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="creditcard-group" @(!creditCardChecked ? "class=hidden" : "")>
                            <div class="form-group form-group-payment">
                                <p class="edit-payment-label" onclick="focusMatchingInput('CreditCardHolder')">Card Holder</p>
                                <div>
                                    <input id="CreditCardHolder"
                                           name="CreditCardHolder"
                                           type="text"
                                           value="@payment.CreditCardHolder"
                                           class="form-control input-sm edit-payment-input"
                                           onkeyup="showPaymentSaveBtn(event)"
                                           onchange="showPaymentSaveBtn(event)" />
                                </div>
                            </div>

                            <div class="form-group form-group-payment" style="margin-top: 5px">
                                <p class="edit-payment-label" onclick="focusMatchingInput('CreditCardName')">Card Name</p>
                                <div>
                                    <input id="CreditCardName" 
                                           name="CreditCardName"
                                           type="text"
                                           value="@payment.CreditCardName"
                                           class="form-control input-sm edit-payment-input"
                                           onkeyup="showPaymentSaveBtn(event)"
                                           onchange="showPaymentSaveBtn(event)" />
                                </div>
                            </div>

                            <div class="form-group form-group-payment" style="margin-top: 5px">
                                <p class="edit-payment-label" onclick="focusMatchingInput('CreditCardNo')">Card Number</p>
                                <div>
                                    <input id="CreditCardNo"
                                           name="CreditCardNo"
                                           type="text"
                                           value="@payment.CreditCardNo"
                                           class="form-control input-sm edit-payment-input"
                                           onkeyup="showPaymentSaveBtn(event)"
                                           onchange="showPaymentSaveBtn(event)" />
                                </div>
                            </div>

                            <div class="form-group form-group-payment" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="pull-left" style="width: 25%; display: inline-block; margin-right: 3%">
                                    <p class="edit-payment-label" style="margin-left: 0px" onclick="focusMatchingInput('CreditCardExpMonth')">Exp Month</p>
                                    <div>
                                        <input id="CreditCardExpMonth"
                                               name="CreditCardExpMonth"
                                               type="number"
                                               value="@payment.CreditCardExpMonth"
                                               class="form-control input-sm edit-payment-input"
                                               style="padding-right: 5px; padding-left: 5px"
                                               onkeyup="showPaymentSaveBtn(event)"
                                               onchange="showPaymentSaveBtn(event)" />
                                    </div>
                                </div>
                                <div class="pull-left" style="width: 30%; display: inline-block; margin-right: 3%">
                                    <p class="edit-payment-label" style="margin-left: 0px" onclick="focusMatchingInput('CreditCardExpYear')">Exp Year</p>
                                    <div>
                                        <input id="CreditCardExpYear"
                                               name="CreditCardExpYear"
                                               type="number"
                                               value="@payment.CreditCardExpYear"
                                               class="form-control input-sm edit-payment-input"
                                               style="padding-right: 5px; padding-left: 5px"
                                               onkeyup="showPaymentSaveBtn(event)"
                                               onchange="showPaymentSaveBtn(event)" />
                                    </div>
                                </div>
                                <div class="pull-left" style="width: 30%; display: inline-block">
                                    <p class="edit-payment-label" style="margin-left: 0px" onclick="focusMatchingInput('CreditCardCVV')">CVV Code</p>
                                    <div style="padding: 0">
                                        <input id="CreditCardCVV"
                                               name="CreditCardCVV"
                                               value="@payment.CreditCardCVV"
                                               type="text"
                                               class="form-control input-sm edit-payment-input"
                                               style="width: 80%"
                                               onkeyup="showPaymentSaveBtn(event)"
                                               onchange="showPaymentSaveBtn(event)" />
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 15px; opacity: 0">*** FILLER TEXT ***</div>
                            </div>
                        </div>

                        <div id="check-group" @(!checkChecked ? "class=hidden" : "")>
                            <div class="form-group form-group-payment" style="margin-top: 5px">
                                <p class="edit-payment-label" onclick="focusMatchingInput('CheckNo')">Check Number</p>
                                <div>
                                    <input id="CheckNo"
                                           name="CheckNo"
                                           type="text"
                                           value="@payment.CheckNo"
                                           class="form-control input-sm edit-payment-input"
                                           onkeyup="showPaymentSaveBtn(event)"
                                           onchange="showPaymentSaveBtn(event)" />
                                </div>
                            </div>

                            <div class="form-group form-group-payment" style="margin-top: 5px">
                                <p class="edit-payment-label" onclick="focusMatchingInput('CheckWriter')">Issued By</p>
                                <div>
                                    <input id="CheckWriter"
                                           name="CheckWriter"
                                           type="text"
                                           value="@payment.CheckWriter"
                                           class="form-control input-sm edit-payment-input"
                                           onkeyup="showPaymentSaveBtn(event)"
                                           onchange="showPaymentSaveBtn(event)" />
                                </div>
                            </div>

                            <div class="form-group form-group-payment" style="margin-top: 5px">
                                <p class="edit-payment-label" onclick="focusMatchingInput('CheckImage')">Check Image</p>
                                <div>
                                    <input id="CheckImage"
                                           name="CheckImage"
                                           type="text"
                                           value="@payment.CheckImage"
                                           class="form-control input-sm edit-payment-input"
                                           onchange="showPaymentSaveBtn(event)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <p class="edit-payment-label">Receivable Source</p>
                            <div style="padding-top: 6px">
                                <span name="ReceivableSource">@payment.ReceivableSource</span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <p class="edit-payment-label">Source Id</p>
                            <div style="padding-top: 6px">
                                <span name="ReceivableSourceId">@payment.ReceivableSourceId</span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <p class="edit-payment-label">Created At</p>
                            <div style="padding-top: 6px">
                                <span name="CreatedAt"></span>
                            </div>
                        </div>

                        <div class="form-group hidden">
                            <p class="edit-payment-label">Id</p>
                            <div style="padding-top: 6px">
                                <span name="Id">@payment.Id</span>
                            </div>
                        </div>
                    </div>
                    <span name="payments-table-@ViewBag.CurrReceivableSourceId-row-number" class="hidden">@paymentIndex</span>
                    <div class="form-group" style="margin: 0 0 0 0; padding: 0 0 0 0; display: block">
                        <div>
                            <button type="button"
                                    name="save-payment"
                                    class="btn btn-sm btn-default btn-success-text margin-bottom-3 hidden"
                                    onclick="saveSubformData(event, 'UpdatePayment', getUIPaymentData)">
                                <strong>Save</strong>
                                <span style="margin-left: 5px" class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>

    @*  ################### RECORD NAVIGATION BUTTONS #####################  *@

    <div class="form-group text-danger" style="margin: -15px 0 0 0; padding: 0 0 20px 0 ">
        Payment <span name="payments-table-@ViewBag.CurrReceivableSourceId-row-number-alt">1</span> of <span name="payments-table-row-count" style="margin: 0 10px 0 0">@paymentCount</span>
        <div style="display: inline">
            <button type="button" class="@ViewBag.PaymentNavBtnClass" onclick="navFirst(event, 'payments-table-@ViewBag.CurrReceivableSourceId')">
                <span class="glyphicon glyphicon-fast-backward"
                      style="padding: 0 3px 0 3px" >
                </span>
            </button>
            <button type="button" class="@ViewBag.PaymentNavBtnClass" onclick="navPrev(event, 'payments-table-@ViewBag.CurrReceivableSourceId')">
                <span class="glyphicon glyphicon-arrow-left"
                      style="padding: 0 3px 0 3px" >
                </span>
            </button>
            <button type="button" class="@ViewBag.PaymentNavBtnClass" onclick="navNext(event, 'payments-table-@ViewBag.CurrReceivableSourceId')">
                <span class="glyphicon glyphicon-arrow-right"
                      style="padding: 0 3px 0 3px" >
                </span>
            </button>
            <button type="button" class="@ViewBag.PaymentNavBtnClass" onclick="navLast(event, 'payments-table-@ViewBag.CurrReceivableSourceId')">
                <span class="glyphicon glyphicon-fast-forward"
                      style="padding: 0 3px 0 3px" >
                </span>
            </button>
        </div>
    </div>
}