@model IEnumerable<BusinessManager.Core.Models.POSSale>

@{
    ViewBag.Title = "POS Sales";
    int possaleIndex = 0;
    int possaleCount = Model.Count();
    decimal possaleCharges = 0;
    decimal customerBalance = 0;
    decimal possalePayments = 0;
    decimal possaleBalance = 0;
    string paymentNavBtnClass = "btn-pill-green";

    string colorBGReceivableSourceDetail = "#e4f7e7";          // #fff5cc = yellow 2 
    string colorBGItemDetail = "#fbfefc";                      // #fffcf0 = yellow 3
    ViewBag.ItemDetailBackgroundColor = colorBGItemDetail;
}

<table id="possales-table" class="table">
    @foreach (var possale in Model)
    {
        ++possaleIndex;
        ViewBag.ReceivableSourceIndex = possaleIndex;
        ViewBag.PaymentNavBtnClass = paymentNavBtnClass;
        string rowClass = possaleIndex > 1 ? "hidden" : "table-row-shown";

        possaleCharges = possale.POSSaleItems.Sum(item => item.Quantity * item.Price);
        string possaleChargesStr = "$ " + String.Format("{0:#,##0.00}", possaleCharges);

        possalePayments = possale.POSSalePayments.Sum(item => item.Amount);
        string possalePaymentsStr = "$ " + String.Format("{0:#,##0.00}", possalePayments);

        possaleBalance = possaleCharges - possalePayments;
        string possaleBalanceStr = "$ " + String.Format("{0:#,##0.00}", possaleBalance);

        customerBalance += (possaleCharges - possalePayments);
        string customerBalanceStr = String.Format("$ {0:#,##0.00}", customerBalance);

        <tr id="possale-row" class="@rowClass">
            <td>
                <div class="col-md-12" style="display: flex; height: 625px">
                    @{
                        // POSSale Items table styling strings
                        string inputStyle = "display: inline; margin-left: 10px; width: 60%";
                        string inputGroupStyle = "margin: 1px 6px 1px 0px";
                        string buttonGroupStyle = "margin: 6px 6px 30x 6px";
                        string labelStyle = "width: 35%; text-align: right";
                    }
                    <style>
                        .CustomerManagerInvoices-fixed-header tbody {
                            display: block;
                            overflow: auto;
                            height: 550px;
                            width: 100%;
                        }

                        .CustomerManagerInvoices-fixed_header thead tr {
                            display: block;
                        }
                    </style>
                    <script>
                    </script>
                    <div id="possale-edit" class="col-md-6" style="flex: 1; padding: 1em; background-color: @colorBGReceivableSourceDetail">
                        <form id="possale-form">
                            <div name="possale-customer-id" style="display: none">@possale.CustomerId</div>
                            <div id="receivable-source-id" name="possale-id" style="display: none">@possale.Id</div>
                            <div style="@inputGroupStyle">
                                <label class="control-label invoice-label" style="@labelStyle">@Html.DisplayNameFor(m => m.CreatedAt)</label>
                                <span style="@inputStyle">
                                    @Html.DisplayFor(model => possale.CreatedAt, new { htmlAttributes = new { @class = "form-control" } }).ToString().Replace("-07:00", "")
                                </span>
                            </div>
                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_FirstName')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </label>
                                @Html.EditorFor(model => possale.FirstName, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>
                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_LastName')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.LastName)
                                </label>
                                @Html.EditorFor(model => possale.LastName, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>

                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_Phone')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.Phone)
                                </label>
                                @Html.EditorFor(model => possale.Phone, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>

                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_Email')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.Email)
                                </label>
                                @Html.EditorFor(model => possale.Email, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>

                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_CompanyName')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </label>
                                @Html.EditorFor(model => possale.CompanyName, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>
                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_Street')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.Street)
                                </label>
                                @Html.EditorFor(model => possale.Street, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>
                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_City')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.City)
                                </label>
                                @Html.EditorFor(model => possale.City, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>
                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_State')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.State)
                                </label>
                                @Html.EditorFor(model => possale.State, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>

                            <div style="@inputGroupStyle">
                                <label onclick="focusMatchingInput('possale_ZipCode')" class="control-label invoice-label" style="@labelStyle">
                                    @Html.DisplayNameFor(model => model.ZipCode)
                                </label>
                                @Html.EditorFor(model => possale.ZipCode, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control input-sm",
                                        @style = @inputStyle,
                                        @onchange = "showSubformSaveBtn(event)",
                                        @onkeyup = "showSubformSaveBtn(event)"
                                    }
                                })
                            </div>

                            <div name="possale-summary" style="position: relative; margin: 0px 0px 3px 0px">
                                <hr style="margin:  10px 0 0 0; border-width: 2px" />
                                <h5 style="margin: 0 0 3px 15px; text-decoration: underline; font-size: 15px">This Sale </h5>
                                <div style="margin: 0 0 0 40px">
                                    <span>Total Charges: </span>
                                    <span name="transaction-charges"
                                          class="pull-right"
                                          style="margin-right: 25px">@possaleChargesStr</span>
                                </div>
                                <div style="margin: 0 0 0 40px">
                                    <span>Payments: </span>
                                    <span name="current-payments"
                                            class="pull-right"
                                            style="margin-right: 25px">@possalePaymentsStr</span>
                                </div>
                                <div style="margin: 0 0 0 40px">
                                    <span>Balance: </span>
                                    <span name="current-balance"
                                            class="pull-right"
                                            style="margin-right: 25px">@possaleBalanceStr</span>
                                </div>
                                <h5 style="margin: 2px 0 2px 15px; text-decoration: underline; font-size: 15px">All Customer Invoices</h5>
                                <div style="margin: 0 0 0 40px">
                                    <span name="customer-balance" class="hidden">@customerBalanceStr</span>
                                    <span>Amount Pending:</span>
                                    <span name="all-pending-transaction-charges"
                                            class="pull-right"
                                            style="margin-right: 25px"></span>
                                </div>
                                <hr style="margin: 0 0 10px 0; border-width: 2px" />
                            </div>

                            <div class="btn-group" style="@buttonGroupStyle">
                                <button type="button"
                                        name="subform-save"
                                        class="btn btn-sm btn-default btn-success-text hidden"
                                        onclick="saveSubformData(event, 'UpdatePOSSale', getUIPOSSaleData)">
                                    <strong>Save</strong>
                                    <span style="margin-left: 5px" class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button"
                                        name="scan-upc"
                                        class="btn btn-sm btn-default margin-bottom-3"
                                        onclick="toggleBarcodeInput(event)">
                                    Scan Barcode
                                </button>
                                <button type="button"
                                        name="product-lookup"
                                        class="btn btn-sm btn-default margin-bottom-3"
                                        onclick="openProductLookup(event, '@possale.Id', 'POSSales')">
                                    Add Item
                                </button>
                                <button type="button"
                                        name="charge-items"
                                        class="btn btn-sm btn-default margin-bottom-3 hidden"
                                        onclick="showChargeItems(event)">
                                    Show Items
                                </button>
                                <div class="btn-group dropup">
                                    <button type="button"
                                            name="payments-menu"
                                            class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                        Payments
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="padding: 0">
                                        <li>
                                            <button type="button"
                                                    name="payments-menu-add-payment"
                                                    class="btn btn-sm btn-default btn-block"
                                                    onclick="addPayment(event, 'possales')">
                                                Add Payment
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                    name="payments-menu-show-payments"
                                                    class="btn btn-sm btn-default btn-block"
                                                    onclick="showPayments(event)">
                                                Edit Payments
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                    name="payments-menu-show-payment-list"
                                                    class="btn btn-sm btn-default btn-block"
                                                    onclick="showPaymentList(event)">
                                                Payment List
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                @{
                                    if (possale.POSSaleItems.Count == 0)
                                    {
                                        <button type="button"
                                                class="btn btn-sm btn-default btn-danger-text margin-bottom-3"
                                                onclick="deletePOSSale(event)">
                                            Delete
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button"
                                                class="btn btn-sm btn-default btn-danger-text margin-bottom-3"
                                                disabled>
                                            Delete
                                        </button>
                                    }
                                }
                                <div name="upc-input-container" style="padding: 0" class="hidden">
                                    <span class="fas fa-barcode text-primary" style="font-size: 35px; margin: 0px -15px 0 0; padding: 0">&nbsp;&nbsp;</span>
                                    <input name="upc-input"
                                            type="text"
                                            class="form-control input-sm"
                                            style="display: inline; max-width: 70%; transform: translateY(-8px)"
                                            onkeypress="getProductByUPC(event, '@possale.Id', 'POSSale')" />
                                </div>
                            </div>
                        </form>
                    </div>
                    @{
                        var subItemInputStyle1 = "display: inline; max-width: 95%; margin: 0 0 5px 0";
                        var subItemInputStyle2 = "display: inline; max-width: 55%; margin: 0 0 5px 0";
                        var subItemLabelStyle = "display: inline; max-width: 35%; margin-right: 15px; margin-top: 10px; font-size: 90%";
                    }
                    <div id="sub-items-table" class="col-md-6 CustomerManagerInvoices-fixed-header" style="flex: 1; background-color: @colorBGReceivableSourceDetail; padding-left: 0">
                        <h4 style="margin-left: 10px">Sale Items</h4>
                        <table class="table">
                            @{
                                var itemsCount = possale.POSSaleItems.Count;
                                var itemIndex = 0;
                                var rowElementId = "";
                            }
                            @foreach (var item in possale.POSSaleItems)
                            {
                                ++itemIndex;
                                rowElementId = "row-" + possaleIndex + "-" + itemIndex;
                                <tr id=@rowElementId style="margin-top: 20px; background-color: @colorBGItemDetail">                                               
                                    <td style="position: relative">
                                        <div>
                                            <img onclick="popUpProductDetail('@item.ProductId')"
                                                    class="img-thumbnail"
                                                    style="width: 100px; cursor: pointer"
                                                    src="~/Content/ProductImages/@item.Image"
                                                    alt="Image" />
                                        </div>
                                        @* InvoiceItem delete button here *@
                                        <input id="possale-item-delete"
                                                type="button"
                                                value="Delete"
                                                style="float: left; margin: 5px"
                                                class="btn btn-sm btn-default btn-danger-text"
                                                onclick="deletePOSSaleItem(event, '@item.Id', '@rowElementId', '@item.Image', '@item.ProductName')" />
                                    </td>
                                    <td>
                                        <div style="padding-top: 7px">
                                            <div name="possaleitem-item-id" style="display: none">@item.Id</div>
                                            <div name="possaleitem-product-id" style="display: none">@item.ProductId</div>
                                            <div name="possaleitem-quantity" style="display: none">@item.Quantity</div>
                                            <strong>
                                                @Html.DisplayFor(m => item.ProductName, new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @class = "form-control",
                                                        @style = @subItemInputStyle1,
                                                        @readonly = "true"
                                                    }
                                                })
                                            </strong>
                                        </div>
                                        <div style="padding-top: 7px; width: 90%t">
                                            @Html.EditorFor(m => item.ProductDescription, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control input-sm",
                                                    @style = subItemInputStyle1,
                                                    @onkeyup = "showInvoiceItemSaveBtn(event)",
                                                    @onchange = "showInvoiceItemSaveBtn(event)",
                                                    @onpaste = "showInvoiceItemSaveBtn(event)",
                                                    @oncut = "showInvoiceItemSaveBtn(event)"
                                                }
                                            })
                                        </div>
                                        <div style="padding-top: 7px; width: 90%; text-align: right">
                                            @Html.EditorFor(m => item.Quantity, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control input-sm pull-right",
                                                    @style = subItemInputStyle2,
                                                    @onkeyup = "showInvoiceItemSaveBtn(event)",
                                                    @onchange = "showInvoiceItemSaveBtn(event)",
                                                    @onpaste = "showInvoiceItemSaveBtn(event)",
                                                    @oncut = "showInvoiceItemSaveBtn(event)"
                                                }
                                            })

                                            @Html.LabelFor(m => item.Quantity, htmlAttributes: new
                                            {
                                                @class = "control-label invoice-label pull-right",
                                                @for = "",
                                                @style = subItemLabelStyle,
                                                @onclick = "focusMatchingInput('item_Quantity')"
                                            })
                                        </div>
                                        <div style="margin-bottom: 5px; width: 90%; text-align: right">
                                            @Html.EditorFor(m => item.Price, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control input-sm pull-right",
                                                    @style = @subItemInputStyle2,
                                                    @onkeyup = "showInvoiceItemSaveBtn(event)",
                                                    @onchange = "showInvoiceItemSaveBtn(event)",
                                                    @onpaste = "showInvoiceItemSaveBtn(event)",
                                                    @oncut = "showInvoiceItemSaveBtn(event)"
                                                }
                                            })

                                            @Html.LabelFor(m => item.Price, htmlAttributes: new
                                            {
                                                @class = "control-label invoice-label pull-right",
                                                @for = "",
                                                @style = subItemLabelStyle,
                                                @onclick = "focusMatchingInput('item_Price')"
                                            })
                                        </div>
                                        <div style="margin-bottom: 5px; width: 100%">
                                            <span name="ProductDescriptionOldValue" class="hidden">@item.ProductDescription</span>
                                            <span name="QuantityOldValue" class="hidden">@item.Quantity</span>
                                            <span name="PriceOldValue" class="hidden">@item.Price</span>
                                            <p><label style="margin-right: 5px; width: 40%">Item Total </label><span name="line-total" class="text-primary">@(item.Quantity * item.Price)</span></p>
                                            <button name="possale-item-save"
                                                    type="button"
                                                    style="margin: 0 0 3px 0"
                                                    class="btn btn-sm btn-default btn-success-text hidden"
                                                    onclick="updateInvoiceItem(event, '@item.Id')">
                                                <strong>Save</strong>
                                                <span style="margin-left: 5px" class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <div class="text-danger">
                                                <span name="possaleitems-row-number">@itemIndex</span> / <span name="possaleitems-row-count">@itemsCount</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                    <div id="new-payment"
                            class="col-md-6 CustomerManagerInvoices-fixed-header hidden"
                            style="flex: 1; background-color: @colorBGReceivableSourceDetail; padding: 0 15px 0 0; margin: 0 0 0 0">
                        @Html.Partial("NewPayment")
                    </div>

                    <div id="payment-list-table"
                            class="col-md-6 CustomerManagerInvoices-fixed-header hidden"
                            style="flex: 1; background-color: @colorBGReceivableSourceDetail; padding-left: 0">
                        @{
                            ViewBag.CurrReceivableSourceId = possale.Id;
                            ViewBag.PaymentTableHeading = "Sale (POS) Payments";
                        }
                        @Html.Partial("PaymentList", possale.POSSalePayments)
                    </div>

                    <div id="payments-table"
                            class="col-md-6 CustomerManagerInvoices-fixed-header hidden"
                            style="flex: 1; background-color: @colorBGReceivableSourceDetail; padding-left: 0">
                        @{
                            ViewBag.CurrReceivableSourceId = possale.Id;
                        }
                        @Html.Partial("Payments", possale.POSSalePayments)
                    </div>
                </div>

                @*  ################### RECORD NAVIGATION BUTTONS #####################  *@

                <div name="possale-nav-group" class="text-danger" style="position: absolute; left: 25px; bottom: 4px; margin-top: 0">
                    Sale <span id="subtable-row-number" name="possales-table-row-number">@possaleIndex</span> of <span name="possales-row-count" style="margin-right: 20px">@possaleCount</span>
                    <div style="display: inline">
                        <button type="button" class="btn-pill-green" onclick="navFirst(event)">
                            <span class="glyphicon glyphicon-fast-backward"
                                    style="padding: 0 3px 0 3px" >
                            </span>
                        </button>
                        <button type="button" class="btn-pill-green" onclick="navPrev(event)">
                            <span class="glyphicon glyphicon-arrow-left"
                                    style="padding: 0 3px 0 3px" >
                            </span>
                        </button>
                        <button type="button" class="btn-pill-green" onclick="navNext(event)">
                            <span class="glyphicon glyphicon-arrow-right"
                                    style="padding: 0 3px 0 3px" >
                            </span>
                        </button>
                        <button type="button" class="btn-pill-green" onclick="navLast(event)">
                            <span class="glyphicon glyphicon-fast-forward"
                                    style="padding: 0 3px 0 3px" >
                            </span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
     }
</table>