@model IEnumerable<BusinessManager.Core.Models.Product>

    @{
        ViewBag.Title = "Products";
    }

    <style>
        .fixed-header tbody {
            display: block;
            overflow: auto;
            height: auto;
            width: 100%;
        }

        .fixed_header thead tr {
            display: block;
        }

        .search-box-menu {
            width: 75%;
            padding: 0px 20px 10px 20px;
            margin: 1px 0px 0px 15%;
            border: solid 1px #c3d9ef;
            border-radius: 5px;
            display: none;
        }

        .product-lookup-item {
            margin-top: 3px;
            margin-bottom: 0;
        }
    </style>

    <script type="text/javascript">
        /////////////////////////////////////////////////////////////////////////////////////////////

        const SHOW_ALL = true;
        
        /////////////////////////////////////////////////////////////////////////////////////////////

        function toggleColSeltMenu(event) {
            event.preventDefault(event);
            var iconOpen = document.getElementById("search-box-menu-open");
            var iconClose = document.getElementById("search-box-menu-close");
            var menu = document.getElementById("search-box-menu");

            if (iconClose.style.display === "none") {
                iconOpen.style.display = "none";
                iconClose.style.display = "inline";
                menu.style.display = "block";
            }
            else if (iconOpen.style.display === "none") {
                iconClose.style.display = "none";
                iconOpen.style.display = "inline";
                menu.style.display = "none";
            }
            else {
                // ignore if no match
            }
        }
        
        /////////////////////////////////////////////////////////////////////////////////////////////

        function filterItems(event, showAll = false) {
            event.preventDefault(event);
            var iconOpen = document.getElementById("search-box-menu-open");
            var iconClose = document.getElementById("search-box-menu-close");
            var menu = document.getElementById("search-box-menu");
            iconClose.style.display = "none";
            iconOpen.style.display = "inline";
            menu.style.display = "none";

            var searchText = document.getElementById("product-lookup-search-string").value.toLowerCase();
            if (searchText === "" && !showAll) {
                let titleMessage = "<span class='text-warning'>Search text missing!</span>"
                ShowMessage("Type the text you wish to find into the search box, or open the search box menu and select 'Load All Products'", titleMessage);
                return;
            }

            var table = document.getElementById("product-lookup-table");

            var searchInName = document.getElementById("search-box-menu").querySelector("input[name='NameCheck']").checked;
            var searchInDescription = document.getElementById("search-box-menu").querySelector("input[name='DescriptionCheck']").checked;
            var searchInCategory = document.getElementById("search-box-menu").querySelector("input[name='CategoryCheck']").checked;
            var searchInProductCode = document.getElementById("search-box-menu").querySelector("input[name='ProductCodeCheck']").checked;
            var searchInUPC = document.getElementById("search-box-menu").querySelector("input[name='UPCCheck']").checked;
            var searchInQuantity = document.getElementById("search-box-menu").querySelector("input[name='QuantityCheck']").checked;
            var searchInPrice = document.getElementById("search-box-menu").querySelector("input[name='PriceCheck']").checked;

            var columsWereSelected = searchInName || searchInDescription ||
                                        searchInCategory || searchInProductCode ||
                                        searchInUPC || searchInQuantity || searchInPrice;

            if (!columsWereSelected && !showAll) {
                let titleMessage = "<span class='text-warning'>Missing search input!</span>"
                ShowMessage("To execute a search you must select at least one of the fields listed in the search box menu.", titleMessage);
                return;
            }

            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
                var row = rows[i];
                var nameData = row.querySelector("tr span[name='Name']").innerHTML.toLowerCase();
                var descriptionData = row.querySelector("tr span[name='Description']").innerHTML.toLowerCase();
                var categoryData = row.querySelector("tr span[name='Category']").innerHTML.toLowerCase();
                var productCodeData = row.querySelector("tr span[name='ProductCode']").innerHTML.toLowerCase();
                var upcData = row.querySelector("tr span[name='UPC']").innerHTML.toLowerCase();
                var quantityData = row.querySelector("tr span[name='Quantity']").innerHTML.toLowerCase();
                var pricecData = row.querySelector("tr span[name='Price']").innerHTML.toLowerCase();

                if ((nameData.indexOf(searchText) > -1 && searchInName) || showAll) {
                    row.style.display = "table-row";
                }
                else if (descriptionData.indexOf(searchText) > -1 && searchInDescription) {
                    row.style.display = "table-row";
                }
                else if (categoryData.indexOf(searchText) > -1 && searchInCategory) {
                    row.style.display = "table-row";
                }
                else if (productCodeData.indexOf(searchText) > -1 && searchInProductCode) {
                    row.style.display = "table-row";
                }
                else if (upcData.indexOf(searchText) > -1 && searchInUPC) {
                    row.style.display = "table-row";
                }
                else if (quantityData.indexOf(searchText) > -1 && searchInQuantity) {
                    row.style.display = "table-row";
                }
                else if (pricecData.indexOf(searchText) > -1 && searchInPrice) {
                    row.style.display = "table-row";
                }
                else {
                    row.style.display = "none";
                }
            }
        }
        
        /////////////////////////////////////////////////////////////////////////////////////////////

        function selectColGroup(event) {
            //event.preventDefault();
            var colNames = ["Name", "Description", "Category", "ProductCode", "UPC", "Quantity", "Price"];
            var allAreChecked = true;

            colNames.forEach(function (name) {
                allAreChecked = allAreChecked && document.getElementById("search-box-menu").querySelector("input[name='" + name + "Check']").checked;
            });

            if (allAreChecked && document.getElementById("search-box-menu").querySelector("input[name='AllCheck']").checked) {
                return;
            }

            colNames.forEach(function (name) {
                var menu = document.getElementById("search-box-menu");
                document.getElementById("search-box-menu").querySelector("input[name='" + name + "Check']").checked = !allAreChecked;
            });
            document.getElementById("search-box-menu").querySelector("input[name='AllCheck']").checked = !allAreChecked;
        }
        
        /////////////////////////////////////////////////////////////////////////////////////////////

        function setAllCheck(event) {
            //event.preventDefault();
            if (!event.target.checked) {
                document.getElementById("search-box-menu").querySelector("input[name='AllCheck']").checked = false;
            }
        }
        
        /////////////////////////////////////////////////////////////////////////////////////////////
    </script>

    <div class="col-md-12" style="margin: 0; padding: 0">
        <div class="bg-warning" style="padding-bottom: 0; padding-top: 0; margin-bottom: 0">
            <h4 style="display: inline-block; margin: 5px 5px 5px 10px">Product Search</h4>
            <div class="form-group" style="width: 100%; margin: 0; padding: 3px 0px 3px 3px ">

                <input id="product-lookup-search-string"
                       placeholder="Enter text to find ..."
                       type="text"
                       class="form-control"
                       style="display: inline; margin: 0 0 0 0" />

                <div style="display: inline-block">
                    <button id="search-box-btn-find" class="btn btn-default btn-primary-text"
                            onclick="filterItems(event)"
                            style="display: inline-block; margin-top:-4px; margin-right: 0">
                        <span class="glyphicon glyphicon-search" style="margin-left: 0"></span>
                    </button>
                    <button class="btn btn-default btn-primary-text"
                            onclick="toggleColSeltMenu(event)"
                            style="display: inline-block; margin-top:-4px; margin-left: -2px">
                        <span id="search-box-menu-open" class="glyphicon glyphicon-menu-hamburger" style="margin: 0;  display: inline"></span>
                        <span id="search-box-menu-close" class="glyphicon glyphicon-remove" style="margin: 0; display: none"></span>
                    </button>
                </div>
                <hr style="margin: 3px 3px 3px 3px"/>

            </div>
        </div>
        <div id="search-box-menu" class="search-box-menu" style="margin-top: -8px">
            <div>
                <label class="checkbox-container" style="font-size: 18px; font-weight: normal; margin-top:5px; margin-bottom: 3px">
                    <span>Search In:</span>
                    <input name="AllCheck"
                           type="checkbox"
                           onchange="selectColGroup(event)">
                    <span class="checkmark"></span>
                </label>
                <hr style="margin: 0 0 5px 0; padding: 0" />
                <div>
                    <label class="checkbox-container">
                        Name
                        <input name="NameCheck" type="checkbox" checked="checked" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        Description
                        <input name="DescriptionCheck" type="checkbox" checked="checked" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        Category
                        <input name="CategoryCheck" t type="checkbox" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        Product Code
                        <input name="ProductCodeCheck" type="checkbox" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        UPC
                        <input name="UPCCheck" type="checkbox" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        Quantity
                        <input name="QuantityCheck" type="checkbox" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">
                        Price
                        <input name="PriceCheck" type="checkbox" onclick="setAllCheck(event)">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <hr style="margin: 10px 0 10px 0; padding: 0" />
                <button class="btn btn-primary"
                        onclick="filterItems(event, SHOW_ALL)"
                        style="width: 100%">
                    Load All Products
                </button>
            </div>
        </div>

        <div style="display: flex; margin-top: 0px">
            <div class="col-md-4 fixed-header" style="flex: 1; padding: 0">
                <table id="product-lookup-table" class="table table-condensed" style="margin: 0">

                    @foreach (var item in Model)
                    {

                        int halfOfMin = item.QuantityMin / 2;
                        var cssClass = "";
                        var itemImage = item.Image;
                        if (item.Quantity <= item.QuantityMin)
                        {
                            cssClass = "bg-danger";
                        }
                        else if (item.Quantity <= item.QuantityMin + halfOfMin)
                        {
                            cssClass = "bg-warning";
                        }

                        <tr class="@cssClass">
                            <td>
                                <a href="@Url.Action("Edit", "ProductManager", new { id = item.Id })">
                                    <img class="img-thumbnail" style="width:250px" src="~/Content/ProductImages/@item.Image" alt="Image" />
                                </a>
                            </td>
                            <td>
                                <p class="product-lookup-item" style="display: none"><span name="Image">@itemImage</span></p>
                                <p class="product-lookup-item" style="display: none"><span name="Id">@Html.DisplayFor(modelItem => item.Id)</span></p>
                                <p class="text-primary product-lookup-item"><em><span name="Name">@Html.DisplayFor(modelItem => item.Name)</span></em></p>
                                <p class="product-lookup-item"><span name="Description">@Html.DisplayFor(modelItem => item.Description)</span></p>
                                <p class="product-lookup-item">Category: <span name="Category" class="text-primary">@Html.DisplayFor(modelItem => item.Category)</span></p>
                                <p class="product-lookup-item">Product Code: <span name="ProductCode" class="text-primary">@Html.DisplayFor(modelItem => item.ProductCode)</span></p>
                                <p class="product-lookup-item">UPC: <span name="UPC" class="text-primary">@Html.DisplayFor(modelItem => item.UPC)</span></p>
                                <p class="product-lookup-item">Is Service: <span name="UPC">@Html.DisplayFor(modelItem => item.IsService)</span></p>
                                <p class="product-lookup-item">Quantity: <strong><span name="Quantity">@Html.DisplayFor(modelItem => item.Quantity)</span></strong></p>
                                <button type="button"
                                        class="btn-pill product-lookup-item"
                                        onclick="copyProductData(event, '@item.Id')">
                                    Add To Layaway
                                </button>
                            </td>
                            <td>
                                <strong><span name="Price">@Html.DisplayFor(modelItem => item.Price)</span></strong>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>