@model BusinessManager.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Filter by Category</h4>
    <div class="col-md-12">
        @Html.ActionLink("All", "Index", null, new { @class = Request["category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { category = cat.Category }, new { @class = Request["category"] == cat.Category ? "list-group-item active" : "list-group-item" });
        }
    </div>
</div>

<div class="col-md-10">
    <div class="container-fluid ">
        @{ 
            string imageWidth = "col-md-5 bg-warning";
            string rowWidth = "col-md-5";
        }
        @foreach (var item in Model.Products)
        {
            <div class=@rowWidth style="height: 240px; padding: 10px; margin: 10px; border: solid thin #e6e6e6">

                <div class=@imageWidth style="height: 100%">
                    <img class="img" style="height: 200px; max-width: 110%" src="~/Content/ProductImages/@item.Image" alt="Image" />
                </div>

                <div>
                    <strong>@Html.ActionLink(item.Name, "Details", new { Id = item.Id })</strong>
                </div>

                <div>
                    <p>@item.Description</p>
                </div>

                <div>
                    <p>@string.Format("{0:c}", item.Price)</p>
                </div>

                @if (!User.IsInRole("POSAttendant") || (User.IsInRole("POSAttendant") && User.IsInRole("Client")))
                {
                    <div style="margin: 65px 5px 5px 5px">
                        <a href="@Url.Action("AddToBasket", "Basket", new { Id = item.Id })" class="btn btn-default text-primary-force"><i class="fa fa-shopping-cart">&nbsp;&nbsp;Add to Basket</i></a>
                    </div>
                }

                @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("POSAttendant")))
                {
                    <div style="margin: 5px">
                        <a href="@Url.Action("AddToPOSTransaction", "POSTransaction", new { Id = item.Id })" class="btn btn-default text-primary-force"><span class="fas fa-cash-register">&nbsp;&nbsp;Add to Sale</span></a>
                    </div>
                }

            </div>
        }
    </div>
</div>

<div class="col-md-12 clearfix" />