@model BusinessManager.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home";
}

<style>
    #form-header {
        position: sticky;
        top: 51px;
        margin: 0 0 0 0;
        padding: 10px 0 0 0;
        background-color: white;
        z-index: 2;
    }
    div.sticky {
        position: sticky;
        top: 125px;
    }
</style>

<div id="form-header">
    <h1 id="page-headline" style="margin: 0 0 0 0">Products</h1>
    <hr style="margin: 0 0 0 0; padding: 0 0 10px 0" />
</div>

<div id="category-menu" class="col-md-2 sticky">
    <h4>Filter by Category</h4>
    <div class="col-md-12">
        @Html.ActionLink("All", "Index", null, new { @class = Request["category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(
                    cat.Category, "Index", new { category = cat.Category }, new { @class = Request["category"] == cat.Category ? "list-group-item active" : "list-group-item" }
                );
        }
    </div>
</div>

<div class="col-md-10">
    <div class="container-fluid ">
        @{ 
            string rowWidth = "col-md-5";
        }
        @foreach (var item in Model.Products)
        {
            <div class=@rowWidth style="height: 240px; padding: 10px; margin: 10px; border: solid thin #e6e6e6">
                <div class="col-md-5" style="height: 100%">
                    <div class="container-center-vertical" style="height:90%">
                        <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                            <img class="img" style="max-height: 200px; max-width: 105%" src="~/Content/ProductImages/@item.Image" alt="Image" />
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <strong>@Html.ActionLink(item.Name, "Details", new { Id = item.Id })</strong>
                    </div>

                    <div>
                        <p>@item.Description</p>
                    </div>

                    <div>
                        <p>@string.Format("{0:c}", item.Price)</p>
                    </div>
                    <div class="btn-group-vertical " style="position: absolute; bottom: 15%">
                        @if (!User.IsInRole("POSAttendant") || (User.IsInRole("POSAttendant") && User.IsInRole("Client")))
                        {
                            <div style="margin: 5px">
                                <a href="@Url.Action("AddToBasket", "Basket", new { Id = item.Id })" class="btn btn-default text-primary-force"><span class="fa fa-shopping-cart">&nbsp;&nbsp;Add to Basket</span></a>
                            </div>
                        }

                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("POSAttendant")))
                        {
                            <div style="margin: 5px">
                                <a href="@Url.Action("AddToPOSTransaction", "POSTransaction", new { Id = item.Id })" class="btn btn-default text-primary-force"><span class="fas fa-cash-register">&nbsp;&nbsp;Add to POS Sale</span></a>
                            </div>
                        }
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<div class="col-md-12 clearfix" />