@model IEnumerable<BusinessManager.Core.Models.Product>

@{
    ViewBag.Title = "Products";
}

    <h2>Product Inventory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        int halfOfMin = item.QuantityMin / 2;
        var cssClass = "";
        if (item.Quantity <= item.QuantityMin)
        {
            cssClass = "bg-danger";
        }
        else if (item.Quantity <= item.QuantityMin + halfOfMin)
        {
            cssClass = "bg-warning";
        }

        <tr class="@cssClass">
            <td>
                <a href="@Url.Action("Edit", "ProductManager", new { id = item.Id })">
                    <img class="img-thumbnail" style="height:50px" src="~/Content/ProductImages/@item.Image" alt="Image" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @if (item.Quantity == 0)
                {
                    <div style="display: inline-block"> | @Html.ActionLink("Delete", "Delete", new { id = item.Id })</div>
                }
                else
                {
                    <div class="text-muted" style="display: inline-block"> | Delete</div>
                }

            </td>
        </tr>
    }

</table>
